$white: #FFFFFF;

@mixin border-radius($radius) {
  border-radius: $radius;
  background-clip: padding-box;
}

@mixin cursor-pointer {
  cursor: pointer;
}

h2 {
  margin: .5rem 0;
}

.example-section {
  border: 1px solid #ECECEC;
  box-shadow: 0 1px 12px 0 rgba(0,0,0,.08);
  padding: 1rem;
  margin-bottom: 2rem;
}
