<section class="example-section">
  <h2>Primary Button</h2>
<button class="btn btn--primary">Primary Button</button>
<button class="btn btn--primary btn--disabled">Primary Button (Disabled)</button>
</section>

<section class="example-section">
  <h2>Secondary Button</h2>
  <button class="btn btn--default">Secondary Button</button>
</section>

<section class="example-section">
  <h2>Danger Button</h2>
  <button class="btn btn--state-danger">Danger Button</button>
</section>
