<ul [ngClass]="['datatable-list', 'datatable-list--with-header']">
  <li>
    <div [className]="'row'">
      <div [className]="' col-xs '" *ngFor="let label of labels">
        <div [className]="' box-row '">{{ label }}
          <span *ngIf="help">
            <i class="material-icons">help</i>
          </span>
        </div>
      </div>
    </div>
  </li>
  <li>
    <div [className]="'row'">
      <div [className]="' col-xs '" *ngFor="let example of examples">
        <div [className]="' box-row '">{{ example }}</div>
      </div>
    </div>
  </li>
</ul>
